.comment-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.comment-input{
    border: 2px solid #e7e5ee;
    outline: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 1rem;
    width: 50%;
}

.comment-btn{
    background-color: #4338ca;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}