.comment-card{
    width: 50%;
}

.commenter-cmt{
    width: 30%;
}
.commenter-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.comment-reply{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}